* {
	box-sizing: border-box;
}

body {
	font-family: Roboto sans-serif;
	/*background-color: #FFF;*/
}

.navigation {
	background-color: #466995;
  border-bottom: 1px solid #466995;
  overflow-y: auto;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
	font-size: 20px;
	text-align: center;
}

ul {
  margin: 20px auto;
  text-align: center;
}

li {
	color: #FFF;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
  color: #DBE9EE;
}

.bod_box {
	margin: 50px;
	background-color: #DBE9EE;

}