* {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

body {
	font-family: Roboto sans-serif;
	background-color: #FFF;	
}

.navigation {
	font-size: 20px;
	text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 100;
  letter-spacing: 2px;
  padding: 20px 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
