* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0;
	margin: 0;
	/*background-color: #FFF;*/
}

.navigation {
	background-color: #466995;
  border-bottom: 1px solid #466995;
  overflow-y: auto;
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
	font-size: 20px;
	text-align: center;
}

ul.navigation {
  margin: 0px auto;
  text-align: center;
}

img {
	margin: auto;
	margin-right: 35%;
	position: relative;
	left: 35%;
}

object {
	margin: auto;
	margin-right: 5%;
	position: relative;
  left: 5%;
  height: 1200px;
}

li {
	color: #FFF;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 5px 0px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  /*text-align: center;*/
}

a {
	color: #FFF;
	text-decoration: none;
}

a:hover {
  color: #DBE9EE;
}

h1 {
	margin: 50px;
	text-align: center;
}

p {
	margin: 50px;

}

button {
    background-color: black; 
    opacity: 0.75;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
}

.captions {
    background-color: black;
    opacity: 0.75;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
}

.bod_box {
	margin: 20px 50px;
	background-color: #DBE9EE;
	border-radius: 10px;
}

.banner {
	margin: 0px auto;
	background-image: url(http://i.imgur.com/GPkIk3O.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 150px;
}

a.email_but {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: inline-block;
  text-decoration: none;
  color: initial;
  margin: 50px;
  margin-top: 0px;
}

.linked {
	display: inline-block;
	margin: 50px;
	margin-top: 0px;
}

.slide_container {
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

.mySlides {
	width: 100%;
	position: relative;
	bottom: 200px;
	opacity: .6;
 }

.button_left {
 	bottom: 200px;
}

.button_right {
	bottom: 200px;
	float: right;
}

.project_box {
  width: 20%;
  margin: 30px;
}

.hover_text {
  background-color: black; 
  opacity: 0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.hover_text:hover {
  opacity: .6;
}